torch==1.6.0
pysolr==3.8.1
emoji==0.5.3
regex==2019.8.19
matplotlib==3.1.0
tqdm
nltk==3.4.5
numpy==1.17.3
segtok==1.5.7
flair==0.6.1
pytorch-transformers==1.2.0
transformers==4.26.1
colorama==0.4.3
termcolor==1.1.0
faiss-cpu>=1.6.1
pytorch_metric_learning==1.4.0
torchvision==0.7.0
pubtator-loader==0.1.4
prettytable==3.3.0
rank_bm25==0.2.2